* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
#bg-content {
  height: 100vh;          /* pura screen cover karega */
  display: flex;
  justify-content: center;
  align-items: center;
}


#main-content {
  height: 400px;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

#main-content h1{
    font-size: 13px;
    text-align: left;
    margin-top: 55%;
    margin-left: 5px;
}


#card{
   border-radius: 15px;

   height: 100%;

}

#img-box img {
    max-height: 140px;
    max-width: 90%;
}

button{
    margin-top: 70px;
    padding: 10px 30px;
    background-color: rgb(3, 115, 143);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

button:active{
    scale :0.95;

}