

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: rgb(15, 15, 15);
}

html {
  font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: rgb(5,217,5);
    font-size: 3rem;
}

body {
  background: radial-gradient(circle, #000 40%, #030303 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: #00ff00;
  font-size: 42px;
  font-family: monospace;
  letter-spacing: 1px;
  text-align: center;
}

/* Green Glow Effect */
.glow {
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}
