*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  color: white;
}

.main-win{
  width: 100%;
  height: 100%;
  background-image: url("0jwpp2kqog0g1.jpeg");
  background-size: cover;
}

/* MAIN TASKBAR */
.icons{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: center;

  padding: 8px 22px;

  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;

  color: white;
  cursor: pointer;
   z-index: 9999;
 
}


/* ICON STYLE */
.icon img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

/* SEARCH BOX */
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;

  background: rgba(255, 255, 255, 0.15);
  padding: 6px 15px;
  border-radius: 17px;
}

.search-bar input{
  background: transparent;
  border: none;
  color: white;
  outline: none;
  width: 120px;
  font-size: 14px;
}

.search-icon {
  opacity: 0.8;
}

.menu {
     display: none;
  position: absolute;
  background: rgba(57, 57, 57, 0.55);
  backdrop-filter: blur(30px);
  padding: 6px 0;
  width: 180px;
  border-radius: 10px;
  z-index: 9999;
  border: 1px solid rgba(255,255,255,0.13);

}
.menu-item {
  padding: 8px 15px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.menu-item:hover {
  background: rgba(255,255,255,0.15);
}

.menu hr {
  border: none;
  height: 1px;
  background: rgba(255,255,255,0.1);
  margin: 6px 0;
}




.hide 
{ display: none ; }
.hideb
{ display: none ; }
.hidep
{ display: none ; }

#ss {
  position: fixed;
  bottom: 110%;
  right: 21%;
  width: 850px;
  height: 700px;
  border-radius: 12px;

}

#braveimg {
  position: fixed;
  bottom: 103%;
 right: -105%;
  width: 1565px;
  height: 850px;
  border-radius: 12px;

}


#psimg {
  position: fixed;
  bottom: 120%;
  left: -35%;
  width: 820px;
  height: 700px;
  border-radius: 12px;
}
