*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: rgb(18, 18, 18);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;


}

body{
  background-image: url(https://wallpaperaccess.com/full/1605746.jpg);
  background-size: cover;
} 

.box{
    border-radius: 15px;
    height: 100%;
    width:100%;
    background: radial-gradient(180px at var(--x) var(--y),rgba(255, 255, 255, 0.089),rgba(0, 0, 0, 0.829));

}

:root{
    --x : 400px;
    --y : 400px;
}

