* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bad-img{
    height: 60px;
    position: absolute;
    z-index: 0;
    top: 20px;
    left: 50px;
}

@property --rotate{
    syntax: "<angle>";
    initial-value:0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from{
       --rotate : 0deg;
    }

    to{
          --rotate : 360deg;
    }

}

.box{
    height: 350px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(2, 126, 0);  
     text-align: center;
     background-color: rgb(12, 12, 12);
     background : 
     linear-gradient(rgb(0, 0, 0))padding-box,
     conic-gradient(from var(--rotate), rgb(0, 0, 0), rgba(0, 253, 0, 0.756),rgb(0, 0, 0)) border-box; ;
    border: 0px solid rgba(255,255,255,0);
    animation: borderAnimate 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    
    /* animation: changeBgc  5s forwards; */
}

.box:hover{
    animation-play-state: running;
    border-width: 5px;
     box-shadow: 0 0 30px rgb(2, 126, 0);  
      text-shadow: 0 0 7px green;
}

.box img{
    height: 260px; 
}

.box h1{
    color: rgb(0, 114, 0);
    font-weight: 500;
    margin-top: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box p{
  font-size: 13px;
  opacity: 80%;
  font-weight: 100;
 
}

