*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    
}

body{
    display: flex;
    justify-content: center;

}
main{
    padding: 35px;
    display: flex;
    gap: 15px;
}


.card{
    height: 365px;
    width: 300px;
    border-radius: 15px;
    background-color: rgb(26, 26, 26);
    text-align: center;
    padding: 30px;
   
}

.card img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
     margin-bottom: 20px;
}

.card h3{
    font-size: 35px;
    margin-bottom: 9px;
    white-space: nowrap;
}

.card h4{
    font-size: 20px;
     opacity: 80%;
    margin-bottom: 5px;
    color: rgba(218, 140, 140, 0.767);
}

.card p{
   opacity: 60%;
   font-size: 14px;
   font-weight: 100;
    
}


