*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: f1;
    src: url(28DaysLater-MA0x.ttf);
}

html,body{
    height: 100%;
    width: 100%;
    color: white;
  
}

#main{
    height:100%;
    width: 100%;
    background-image: url(wp6064646-baba-voss-wallpapers.jpg);
    background-size:cover;         
    background-position:center;    
    background-repeat:no-repeat;   
    display: flex;                
    align-items: center;  
    align-items: flex-start;
    justify-content: center;        
    padding: 7%;   
    flex-direction: column;    
         
}

h1{
  font-size: 150px;
  font-family: f1;
  font-weight: 100;
  opacity: 70%;
}

#drama{
 font-size: 18px;
  display: flex;
  gap: 6px;
  margin-left: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
}

#p2{
   border: 1px solid white;
   border-radius: 5px;
   padding: 1px 6px;
   font-size: 14px;
   
}

#nv{
   font-size: 18px;
     margin-left: 2.5rem;
     margin-top: 0.5rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 500;
    }


button{
    margin-left: 3.1rem;
     margin-top: 1.3rem;
     font-size: 20px;
     padding: 7px;
     border-radius: 10px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solide white;
}

.show{
  font-size: 18px;
  margin-left: 5.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  margin-top: 1.2rem;

}